nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d99;
    color: white;
    padding: 1em;
    text-align: right;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav li {
    margin-right: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav i {
    margin-right: 0.5em;
  }
  