/* Theme is blue(primary) and gold(secondary) only colors that do not clash with this are allowed  */

body {
    background-color: lightblue;
  
  }

  input:invalid {
    border: red solid 3px;
  }

  h1{
    color: azure;
    
  }
